body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.calculator {
    width: 260px;
    height: 350px;
    background-color: #a9a7a7b7;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.input {
    width: 100%;
    height: 50px;
    display: block;
    font-size: 20px;
    letter-spacing: 2px;
}

.buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

}

.btn {
    width: 48px;
    height: 48px;
    background-color: #958f8f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    background-color: #7f7a7a;
    transform: scale(1.1);
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotateAnimation 0.5s ease-in-out;
}


p {
    font-size: 30px;
    font-weight: 700;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.5s ease-in-out;

}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotateAnimation 0.5s ease-in-out;
}

p:hover {
    transform: scale(1.1);
}

.M-btn {
    background-color: #05a7c3;
}

.M-btn:hover {
    background-color: #0d8fa3;
}

.basic-btn {
    background-color: #d10e0e;
}

.basic-btn:hover {
    background-color: #990b0b;
}

.clear {
    background-color: #7b13d1;
}

.clear:hover {
    background-color: #6618a6;
}

.equal {
    background-color: #09c30c;
}

.equal:hover {
    background-color: #0b7a0b;
}

.num {
    background-color: #e417c5b7;
}

.num:hover {
    background-color: #a72f8f;
}

.func {
    background-color: #d7b90cc9;
}

.func:hover {
    background-color: #a78f2f;
}